name: Automerge

on:
  push:
    branches:
      - master

jobs:
  automerge:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Set up Git
      run: |
        git config --global user.name 'github-actions'
        git config --global user.email 'github-actions@github.com'
    - name: Create Pull Request
      run: gh pr create -B develop -H master --title 'Automerge' --body 'Merge changes to master back to develop' || true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
